body{
  width: 100%;
}

header{
  background-color: rgb(187, 181, 181);
  text-align: left;
}

#container{
  align-content: flex-end;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

#survey{
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 15px;

}

ul{
  display: flex;
  margin-right: 60px;
  margin-top: 34px;
}

li > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li >a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

li > a{
  height: 20px;
  padding: 10px;
  text-align: center;
  width: 55px;
  position: relative;
  text-decoration: none;
}

li > a:hover{
  color: white;
 
}

li > a:visited{
  color: white;
}


#instructions{
  margin-top: 30px;
  text-align: center;
}

#busMallParent{
  align-items: center;
  background-color: rgb(233, 225, 225);
  border: 5px solid rgb(187, 181, 181);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 325px;
  width: 80%;
}

img{
  /* border: 2px solid rgb(227, 221, 221); */
  box-shadow: 5px 5px 5px rgb(142, 137, 137);
  width: 200px;
}

img:hover{
  /* border: 4px solid rgb(154, 149, 149); */
  box-shadow: 8px 8px 8px rgb(142, 137, 137);
  cursor: pointer;
}

#thankyou{
  margin-top: 30px;
  text-align: center;
}

h1{
  color: maroon;
  font-size: 2em;
  font-weight: bold;
}

#chart{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  width: 80%;
}

/* #myChart{
  border: 5px solid rgb(154, 149, 149);
  border-radius: 30px;
} */